@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tailwindcss-animated";

:root {
  --background: #000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --max-width-8xl: 1920px;
  --max-width-9xl: 1620px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

/* AnnouncementBar styles and animations */

@theme {
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    to {
      transform: translateX(-100%);
    }
  }
}
